@model IEnumerable<BlogApp.Models.Blog>

@{
    ViewData["Title"] = "Blogs";
}

<h2>Blog Gallery</h2>

<p>
    <a asp-action="Create">Create New Blog</a>
</p>


@foreach (var item in Model)
{
    <hr />
    <h3><a href="@Url.Action("Blog", new { Id = item.Id })">@item.Title</a></h3>
    <small>@item.PostedOn</small>
    <p>@item.Summary</p>

}
